<header class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
				<img src="{{ absolute_url(asset('bundles/website/assets/images/dc-bicolor-white.png')) }}"
					 class="img-fluid"
					 style="max-width: 285px;"
					 alt="DigiConstruct Logo" />
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 text-secondary">{{ "web.digiconstruct.about.title"|trans }}</a></li>
				<li><a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.features.title"|trans }}</a></li>
				<li><a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.pricing.title"|trans }}</a></li>
				<li><a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.faq.title"|trans }}</a></li>
				<li><a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.contact.title"|trans }}</a></li>
			</ul>

			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
				<input type="search" class="form-control form-control-dark text-bg-dark" placeholder="{{ "web.digiconstruct.search.title"|trans }}" aria-label="{{ "web.digiconstruct.search.title"|trans }}">
			</form>

			<div class="text-end">
				<button type="button" class="btn btn-outline-light me-2">{{ "web.digiconstruct.login.title"|trans }}</button>
				<button type="button" class="btn btn-warning">{{ "web.digiconstruct.register.title"|trans }}</button>
			</div>
		</div>
	</div>
</header>
