{% trans_default_domain 'websiteBundle' %}
{% extends '@Website/base.html.twig' %}

{% block body %}
	<main class="container">

		<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
			<h1 class="display-4 fw-normal text-body-emphasis hero-fade-element">{{ "web.digiconstruct.pricing.title"|trans }}</h1>
			<p class="fs-5 text-body-secondary">{{ "web.digiconstruct.pricing.description"|trans }}</p>
		</div>

		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col-sm-12 col-md-6">
				<div class="card mb-4 rounded-3 shadow-sm">
					<div class="card-header py-3">
						<h4 class="my-0 fw-normal">{{ "web.digiconstruct.pricing.request.title"|trans }}</h4>
					</div>
					<div class="card-body">
						<h2 class="card-title pricing-card-title">{{ "web.digiconstruct.pricing.request.label"|trans }}</h2>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 Benutzer inklusive</li>
							<li>20 GB Cloud-Speicherplatz</li>
							<li>Email-Support</li>
							<li>Baustellen-Dokumentation</li>
							<li>Zeiterfassung</li>
							<li>Aufgabenmanagement</li>
							<li>Fahrzeugverwaltung</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Jetzt anfragen</button>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="card mb-4 rounded-3 shadow-sm border-primary">
					<div class="card-header py-3 text-bg-primary border-primary">
						<h4 class="my-0 fw-normal text-white"><strong>{{ "web.digiconstruct.pricing.development.title"|trans }}</strong></h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">ab</small> 3500€/Monat</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Unbegrenzte Nutzer</li>
							<li>50 GB Cloud-Speicherplatz</li>
							<li>Anpassung an Ihre Bedürfnisse</li>
							<li>Sie unterstützen die Entwicklung direkt mit</li>
							<li>Ihre Bedrüfnisse werden Ihre Funktionen</li>
							<li>Alle AI-Funktionen</li>
							<li>Nach einem Jahr für immer kostenlos</li>
							<li>Alle Funktionen freigeschalten</li>
							<li>Exklusive Beta-Funktionen sofort verfügbar</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
					</div>
				</div>
			</div>
		</div>

		<h2 class="display-6 text-center mb-4">Vergleichen</h2>
		<div class="table-responsive mb-5">
			<table class="table text-center">
				<thead>
				<tr>
					<th style="width: 34%;"></th>
					<th style="width: 50%;">{{ "web.digiconstruct.pricing.request.title" }}</th>
					<th style="width: 50%;">{{ "web.digiconstruct.pricing.development.title"|trans }}</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row" class="text-start">Baustellen-Dokumentation</th>
					<td><em class="fas fa-check"></em></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Aufgabenverwaltung</th>
					<td><em class="fas fa-check"></em></td>
					<td><em class="fas fa-check"></em></td>
				</tr>

				<tr>
					<th scope="row" class="text-start">Angebotsverwaltung</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Digitaler Projektordner</th>
					<td><em class="fas fa-check"></em></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Kennwortverwaltung</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Mobile App</th>
					<td><em class="fas fa-check"></em></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Desktop-Version</th>
					<td><em class="fas fa-check"></em></td>
					<td><em class="fas fa-check"></em></td>
				</tr>

				<tr>
					<th colspan="3"
						scope="row"
						class="text-center bg-secondary-subtle">
						Projektmanagement
					</th>
				</tr>

				<tr>
					<th scope="row" class="text-start">Unbegrenzte Projekte</th>
					<td>Maximal 10 aktive gleichzeitig</td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Baustellendokumentation unbegrenzt</th>
					<td>Nur für aktive Projekte</td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Informations-Email über Uploads</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th colspan="3"
						scope="row"
						class="text-center bg-secondary-subtle">
						<span class="badge bg-primary text-white me-1"><i class="fa-regular fa-star me-1"></i> KI Funktionen</span>
					</th>
				</tr>
				<tr>
					<th scope="row" class="text-start">Zusammenfassung von Aufgabeninhalten</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Automatisches Auslesen von Angebotsdaten</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Analyse der Zeiterfassungsdaten</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Empfehlung für Mitarbeiterförderungen</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				<tr>
					<th scope="row" class="text-start">Empfehlung für Mitarbeiterförderungen</th>
					<td></td>
					<td><em class="fas fa-check"></em></td>
				</tr>
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
