{% trans_default_domain 'websiteBundle' %}

<header class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
				<img src="{{ absolute_url(asset('bundles/website/assets/images/dc-bicolor-white.png')) }}"
					 class="img-fluid"
					 style="max-width: 285px;"
					 alt="DigiConstruct Logo" />
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-secondary">{{ "web.digiconstruct.about.title"|trans }}</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link px-2 text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ "web.digiconstruct.features.title"|trans }}</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.pricing.title"|trans }}</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.faq.title"|trans }}</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-white">{{ "web.digiconstruct.contact.title"|trans }}</a>
				</li>
			</ul>

			<div class="text-end">
				<button type="button" class="btn btn-primary me-2">{{ "web.digiconstruct.register.title"|trans }}</button>
				<button type="button" class="btn btn-success">{{ "web.digiconstruct.login.title"|trans }}</button>
			</div>
		</div>
	</div>
</header>
