{% trans_default_domain 'websiteBundle' %}

<header class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
			<div class="col-md-3 mb-2 mb-md-0">
				<a href="{{ absolute_url('/') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<img src="{{ absolute_url(asset('bundles/website/assets/images/dc-bicolor-white.png')) }}"
						 class="img-fluid"
						 style="max-width: 285px;"
						 alt="DigiConstruct Logo" />
				</a>
			</div>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li class="nav-item">
					<a href="{{ absolute_url(path('web.app.pricing')) }}" class="nav-link px-2 text-white">{{ "web.digiconstruct.pricing.title"|trans }}</a>
				</li>
				<li class="nav-item">
					<a href="{{ absolute_url(path('web.app.faq')) }}" class="nav-link px-2 text-white">{{ "web.digiconstruct.faq.title"|trans }}</a>
				</li>
				<li class="nav-item">
					<a href="{{ absolute_url(path('web.app.contact')) }}" class="nav-link px-2 text-white">{{ "web.digiconstruct.contact.title"|trans }}</a>
				</li>
			</ul>

			<div class="col-md-3 text-end">
				<button type="button" class="btn btn-primary me-2">{{ "web.digiconstruct.register.title"|trans }}</button>
				<a href="{{ absolute_url('/login') }}" class="btn btn-success">{{ "web.digiconstruct.login.title"|trans }}</a>
			</div>
		</div>
	</div>
</header>
