{% trans_default_domain 'websiteBundle' %}

<section class="my-5 py-5">
	<div class="container">
		<div class="row d-flex justify-content-around align-items-center">
			<div class="col-sm-12 col-md-6 d-none d-md-flex">
				{{ source('@Website/svg/construction-team.svg') }}
			</div>

			<div class="col-sm-12 col-md-6 text-start">
				<h6>{{ "web.digiconstruct.industries.headline"|trans }}</h6>
				<div class="d-inline-block mb-3">
					<h2 class="hero-fade-element text-primary animate__animated animate__flipInX">{{ "web.digiconstruct.industries.title"|trans }}</h2>
					<div class="strip bg-dark w-100 py-1 animate__animated animate__flipInX animate__delay-1s"> </div>
				</div>
				<p class="text-muted fs-3">{{ "web.digiconstruct.industries.description"|trans }}</p>
			</div>

			{% set industries = [
				{
					"title": "web.digiconstruct.industries.jobs.shk"|trans,
					"link": "#",
					"icon": "bi bi-snow2"
				},
				{
					"title": "web.digiconstruct.industries.jobs.electrician"|trans,
					"link": "#",
					"icon": "fas fa-bolt"
				},
				{
					"title": "web.digiconstruct.industries.jobs.roofing"|trans,
					"link": "#",
					"icon": "fas fa-people-roof"
				},
				{
					"title": "web.digiconstruct.industries.jobs.painter"|trans,
					"link": "#",
					"icon": "fas fa-paint-roller"
				},
				{
					"title": "web.digiconstruct.industries.jobs.plumber"|trans,
					"link": "#",
					"icon": "fas fa-faucet-drip"
				},
				{
					"title": "web.digiconstruct.industries.jobs.carpenter"|trans,
					"link": "#",
					"icon": "bi bi-hammer"
				},
				{
					"title": "web.digiconstruct.industries.jobs.gardener"|trans,
					"link": "#",
					"icon": "bi bi-tree"
				},
				{
					"title": "web.digiconstruct.industries.jobs.flooring"|trans,
					"link": "#",
					"icon": "fas fa-toolbox"
				},
				{
					"title": "web.digiconstruct.industries.jobs.civilEngineering"|trans,
					"link": "#",
					"icon": "fas fa-person-digging"
				},
				{
					"title": "web.digiconstruct.industries.jobs.buildingConstruction"|trans,
					"link": "#",
					"icon": "fas fa-city"
				},
				{
					"title": "web.digiconstruct.industries.jobs.cleaningServices"|trans,
					"link": "#",
					"icon": "fas fa-broom"
				},
				{
					"title": "web.digiconstruct.industries.jobs.solarConstruction"|trans,
					"link": "#",
					"icon": "fas fa-solar-panel"
				}
			] %}
			<div class="col-sm-12">
				<div class="d-flex justify-content-start align-items-center">
					{% for industry in industries %}
						{% if loop.first or loop.index % 4 == 1 %}
							<ul class="list-group list-group-flush">
						{% endif %}
						<li class="list-group-item py-2 lh-1 ">
							<a href="{{ industry.link }}">
								<i class="{{ industry.icon }} me-2 fs-1"></i>
								<span class="text-dark fs-1">{{ industry.title }}</span>
							</a>
						</li>
						{% if loop.index % 4 == 0 %}
							</ul>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
