{% trans_default_domain 'websiteBundle' %}

<section class="my-5 py-5">
	<div class="container">
		<div class="row d-flex justify-content-around align-items-center">
			<div class="col-sm-12 col-md-6 text-start">
				<h6>{{ "web.digiconstruct.service.headline"|trans }}</h6>
				<div class="d-inline-block mb-3">
					<h2 class="hero-fade-element text-primary animate__animated animate__flipInX">{{ "web.digiconstruct.service.title"|trans }}</h2>
					<div class="strip bg-dark w-100 py-1 animate__animated animate__flipInX animate__delay-1s"> </div>
				</div>
				<p class="text-muted fs-3">{{ "web.digiconstruct.service.description"|trans }}</p>
				<ul class="list-checked list-py-2">
					<li class="list-checked-item list-checked-item-primary list-checked-item-rounded py-0">
						{{ "web.digiconstruct.service.checkbox.service1"|trans }}
					</li>

					<li class="list-checked-item list-checked-item-primary list-checked-item-rounded py-0">
						{{ "web.digiconstruct.service.checkbox.service2"|trans }}
					</li>

					<li class="list-checked-item list-checked-item-primary list-checked-item-rounded py-0">
						{{ "web.digiconstruct.service.checkbox.service3"|trans }}
					</li>
					<li class="list-checked-item list-checked-item-primary list-checked-item-rounded py-0">
						{{ "web.digiconstruct.service.checkbox.service4"|trans }}
					</li>
				</ul>
			</div>

			<div class="col-sm-12 col-md-6 d-none d-md-flex">
				{{ source('@Website/svg/support.svg') }}
			</div>
		</div>
	</div>
</section>
